/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

/*
Utilidades
*/
.container {
    width: 140rem;
    margin: 0 auto;
}

/*
Header
*/
.background-header {
    background-image: url('../img/background-header.jpg');
    height: 70vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.background-header::before {
    content: "";
    position: absolute;
    height: 70vh;
    width: 50%;
    background-color: rgb(217, 217, 217, .5);
}

.menu {
    background-color: #260209;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
}

.logo {
    flex-basis: 5%;
}

.navbar a {
    color: #D9D9D9;
    text-decoration: none;
}

.navbar a:hover {
    color: #D9184B;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 5rem;
}

.title-header {
    position: absolute;
    /* Posiciona el contenido de la cabecera de forma absoluta */
    top: 30%;
    /* Coloca el contenido en la mitad superior del contenedor padre */
    left: 20%;
    /* Coloca el contenido en la mitad izquierda del contenedor padre */
    color: #260209;
    /* Color del texto */
}

.title-header h1 {
    font-size: 5rem;
    margin: 0;
    padding: .5rem;
}

.title-header h2 {
    margin: 0;
}

/*
Main
*/
.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}



.card {
    background-color: #D9D9D9;
    width: 30rem;
    height: 55rem;
    border-width: .1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 2rem;
}

.card-img img {
    min-height: 30rem;
}


.card-body {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-title h4 {
    margin: .5rem;
    font-size: 3rem;
    font-weight: 10;
    text-align: center;
}

.body-description {
    width: 100%;
    margin: 2rem 0;
}

.body-description p {
    margin-bottom: .8rem;
    margin-top: 0;
}

.body-description p:last-child {
    margin-bottom: 0;
    margin-top: 0;
}

.artist {
    font-size: 2.2rem;
}

.prize {
    padding-top: 1.5rem;
    font-size: 2.3rem;
    color: #A6032F;
}

.btn {
    padding: 1rem;
    border: solid;
    color: #D9D9D9;
    background-color: #D9184B;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1rem;
}


/*
Footer
*/

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Media querys */
@media (max-width: 400px) {
    .container {
        width: 100%;
        padding: 0 2rem;
    }

    .background-header {
        background-image: url('../img/background-header.jpg');
        height: 70vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .background-header::before {
        content: "";
        position: absolute;
        height: 70vh;
        width: 100%;
        background-color: rgb(217, 217, 217, .5);
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.5rem;
    }

    .logo {
        flex-basis: 13%;
    }

    .navbar a {
        color: #D9D9D9;
        text-decoration: none;
    }

    .navbar a:hover {
        color: #D9184B;
        text-decoration: none;
    }

    .nav-links {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-basis: 80%;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .navbar a:hover {
        color: #D9184B;
        text-decoration: none;
    }

    .title-header {
        top: 20%;
        left: 10%;
    }

    .title-header h1 {
        font-size: 3.5rem;
    }

    .albums {
        justify-content: center;
    }

    .card {
        width: 90%;
        margin: 2rem 0;
    }

    .card-img img {
        min-height: 20rem;
    }

    .body-title h4 {
        font-size: 2rem;
    }

    .body-description {
        margin: 1rem 0;
    }

    .artist {
        font-size: 1.8rem;
    }

    .prize {
        font-size: 2rem;
    }

    .btn {
        font-size: 1.6rem;
    }
}